@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font: 400 1.6rem/1.6 Pretendard, sans-serif;
    font-optical-sizing: auto;
    color: var(--text-color);
    letter-spacing: -0.8px;
    overflow-x: hidden; /* ovxh */
}

:root {
    /* 다양한 변수를 선언 */
    --main-color: #133b00;
    --title-color: #000;
    --text-color: #000;
    --line-color: rgba(0, 0, 0, 0.2);
    --basic-transition: all ease-out 0.4s;
    --white10: rgba(255, 255, 255, 0.1);
    --white50: rgba(255, 255, 255, 0.5);
    --white100: rgba(255, 255, 255, 1);
    --black10: rgba(0, 0, 0, 0.1);
    --black50: rgba(0, 0, 0, 0.5);
    --black100: rgba(0, 0, 0, 1);
    --gray-light: #e5e5e5;
    --gray-dark: #1f1f1f;

    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color); /* #133984 */
}

.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

button {
    border: none;
    cursor: pointer; /* cup */
}

figure {
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 6px; /* 스크롤바 너비 */
}

/* 스크롤바 트랙 스타일 */
::-webkit-scrollbar-track {
    background: #f5f5f5; /* 트랙 배경색 */
}

/* 스크롤바 핸들 스타일 */
::-webkit-scrollbar-thumb {
    background: #a9a9a9; /* 핸들 배경색 */
    border-radius: 10px; /* 핸들 둥글게 */
}

/* 마우스 올렸을 때 핸들 스타일 */
::-webkit-scrollbar-thumb:hover {
    background: #666; /* 핸들 배경색 */
}
